:root {
  --primary_btn: #9a1b24;
  --textColor: #000000;
  --bodyColor: #f9f9f9;
  --primaryColor:#9a1b24;
}
@import url("../UI/HomePage.scss");
*{
  box-sizing: border-box;
}
body{
  background-color: #ffffff !important;
}

h1, h2, h3, h4, h5,h6, p {
    margin: 0 !important;
    
}

