// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  /*======Header=========*/

  .header_main_wrapper {
    .sidebar {
      width: 100%;
      max-width: unset;
      min-width: unset;
    }
  }
  /*======Header=END========*/

  /*=========Hero-Section=======*/
  .hero_carousel_offer_wrapper {
    .card-body {
      &:after {
        right: -1px !important;
      }
      .card-title {
        font-size: 14px !important;
      }
      .card-text {
        font-size: 12px !important;
      }
      .btn_link {
        font-size: 12px !important;
      }
    }
  }
  .right_card_body {
    width: 80% !important;

    .cred_card_top_sec {
      p {
        font-size: 18px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    .left_point_balance {
      p {
        font-size: 14px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    .switch_loop_left {
      p {
        font-size: 14px !important;
      }
      span {
        font-size: 22px;
      }
    }
  }

  .unlock_brand_tag {
    p,
    span {
      font-size: 12px !important;
    }
  }
  /*=========Hero-Section=END======*/

  /*============unlocked+grid==============*/
  .unlock_offer_card {
    .grid {
      grid-template-columns: auto !important;
    }
    .left_card_body {
      .card-title {
        font-size: 17.9px !important;
      }
      .card-text {
        font-size: 25px !important;
      }
    }
  }
  /*============unlocked+grid===END===========*/

  /*========top-offer==============*/
  .top_offer_wrapper_container {
    .top_offer_card_container {
      grid-template-columns: auto auto !important;
      .offer_card {
        margin-bottom: 40px;
      }
    }
  }
  /*========top-offer==END============*/

  /*=========Tab=Menu==========*/
  .tab_bar_wrapper {
    padding: 21px 18px 37px 18px !important;
  }
  /*=========Tab=Menu==========*/

  /*=======smart===========*/
  .smart_reward_wrapper {
    img {
      width: 90%;
    }
  }
  /*=======smart====END=======*/

  /*========gift_card======*/
  .gift_card_wrapper_container {
    // .gift_card_grid{
    //     grid-template-columns: auto auto !important;
    //     .gift_card{
    //         margin-bottom: 40px;
    //     }
    // }
  }
  /*========gift_card=END=====*/

  /*===========bonus-banner============*/
  .bonus_banner_wrapper_container {
    .banner_grid {
      grid-template-columns: auto !important;
    }
    img {
      width: 100%;
    }
    .bottom_banner_grid {
      img {
        &:nth-child(1),
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  /*===========bonus-banner============*/

  /*============Summer_grid==========*/
  .summer_card_grid {
  }
  /*============Summer_grid==========*/
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .header_main_wrapper {
    .sidebar {
      width: 100%;
      max-width: unset;
      min-width: unset;
    }
  }
  /*=========Hero-Section=======*/
  .hero_carousel_offer_wrapper {
    .card-body {
      &:after {
        right: -1px !important;
      }
      .card-title {
        font-size: 14px !important;
      }
      .card-text {
        font-size: 12px !important;
      }
      .btn_link {
        font-size: 12px !important;
      }
    }
  }
  .right_card_body {
    width: 80% !important;

    .cred_card_top_sec {
      p {
        font-size: 18px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    .left_point_balance {
      p {
        font-size: 14px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    .switch_loop_left {
      p {
        font-size: 14px !important;
      }
      span {
        font-size: 22px;
      }
    }
  }

  .unlock_brand_tag {
    p,
    span {
      font-size: 12px !important;
    }
  }
  /*=========Hero-Section=END======*/
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
