.tab_bar_wrapper {
  padding: 21px 118px 37px 118px;


  .sub_menu_bar_wrapper {
    text-align: -webkit-center;
    cursor: pointer;

    .menu_bar {
      border: 1.2px solid #eeeeee;
      background: linear-gradient(#694e3a4d, #ad8b724d);
      border-radius: 12.2px;
      width: 78.22px;
      height: 78.22px;
      padding: 10px;
      text-align: center;
      p {
        font-family: Inter;
        font-size: 12.2px;
        font-weight: 500;
        line-height: 14.76px;
        letter-spacing: -0.02em;
        color: #383838;
        padding-top: 6px;
      }
    }
    span{
        font-family: Inter;
font-size: 9.76px;
font-weight: 500;
line-height: 11.81px;
letter-spacing: -0.02em;
text-align: center;
color: #646464;
    }
  }
}
