.top_offer_main_wrapper_container {
  padding-top: 51px;

  .filtr_option_wrapper {
    .filter_switch_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: var(--bs-Gray97);
      border-radius: 10px;

      .switch_btn {
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--bs-chinese-silver);
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: var(--bs-white);
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: var(--bs-red-3);
        }

        input:focus + .slider {
          box-shadow: 0 0 1px var(--bs-red-3);
        }

        input:checked+.slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }

      .switch_btn_label {
        h4 {
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.36px;
          color: var(--bs-black);
        }
      }
    }

    .filter_box_wrapper {
      margin-top: 12px;
      background-color: var(--bs-white);
      border-radius: 10px;
      padding: 16px;
      box-shadow: 0px 1px 6.1px 0px var(--netral-shade);
      h3 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        letter-spacing: 0.001em;
        color: var(--bs-bright-grey);
      }

      .filer_content_menu {
        padding: 32px;

        h4 {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          color: var(--bs-light-1-black);
        }

        ul {
          padding-top: 24px;
          padding-bottom: 24px;

          li {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .checkbox {
              border-color: var(--bs-Gray84);
              height: 24px;
              width: 24px;
              margin-right: 16px;

              &:checked {
                background-color: var(--bs-red-3);
              }

              &:focus {
                border-color: var(--bs-red-3);
                box-shadow: unset;
              }
            }

            span {
              font-family: Inter;
              font-size: 14px;
              font-weight: 600;
              line-height: 16.94px;
              color: var(--bs-dark-grey);
            }
          }
        }
      }
    }
  }

  .top_offer_content_wrapper {
    padding: 0px 37px;

    .hide_desktop {
      display: none;
    }

    .offer_title {
      h3 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        color: var(--bs-black);
      }
    }

    .top_offer_menu_tab {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      padding-top: 47px;

      .sub_menu {
        text-align: center;
        margin: 0 10px 0 0;

        span {
          background-color: var(--bs-white-1);
          box-shadow: 0px 1px 6.1px 0px var(--netral-shade);
          height: 66px;
          width: 66px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        p {
          padding-top: 12px;
          font-family: Inter;
          font-size: 13.16px;
          font-weight: 500;
          line-height: 15.92px;
          color: var(--bs-black);
        }
      }
    }

    .top_offer_card_container {
        padding-top: 55px;
        display: flex;
        grid-template-columns: auto auto auto;
        gap:60px 20px;
    
        .offer_card {
          width: 161.45px;
          height: 142.21px;
          border-radius: 12.55px;
          background-color: var(--bs-white-1);
          box-shadow: 0px 0.84px 3.35px 0px var(--bs-blue-2);
          padding: 41px 10px;
          position: relative;
          .top_image {
            position: absolute;
            top: -36px;
            left: 13px;
          }
          .card_title {
            h4 {
              font-family: Inter;
              font-size: 11.71px;
              font-weight: 500;
              line-height: 14.17px;
              color: var(--bs-charcoal);
            }
          }
          .card_content {
            padding: 6px 0px 11px 0px;
            height: 56px;
    
            p {
              font-family: Inter;
              font-size: 11px;
              font-weight: 600;
              line-height: 13.31px;
              letter-spacing: -0.02em;
              color: var(--bs-red-2);
              text-align: left;
            }
          }
          .card_footer{
            font-family: Inter;
            font-size: 11.71px;
            font-weight: 500;
            line-height: 14.17px;
            color: #414141;
          }
        }

        .card_content {
          padding: 6px 0px 11px 0px;
          height: 56px;

          p {
            font-family: Inter;
            font-size: 11px;
            font-weight: 600;
            line-height: 13.31px;
            letter-spacing: -0.02em;
            text-align: right;
            a{
                color: var(--bs-dove-gray);
    
            }
            img{
                filter: grayscale(30);
                height: 14px;
                width: 14px;
                margin-left: 5px;
            }
            
          }
        }

        .card_footer {
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 14.52px;
          letter-spacing: -0.02em;
          text-align: right;

          a {
            color: #646464;

          }

          img {
            filter: grayscale(30);
            height: 14px;
            width: 14px;
            margin-left: 5px;
          }

        }

        .card_footer.clp {
          a {
            text-decoration: underline !important;
          }
        }
      }
    }
  }

.filter_box_wrapper {
  display: none; 

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .fa-arrow-left{
    color: black;
  }
  .sub_menu {
    text-align: center;
    margin: 0px !important;}
  .forMob{
    display: grid !important;
    width: auto;
    max-width: none;
  }
  .filtr_option_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 34px;
  }
  .filter_box_wrapper{
    position: fixed !important;
    bottom: 0px !important;
    z-index: 99999;
    width: 100%; 
    margin-left: -12px;
    overflow: scroll;
  }
  .top_offer_menu_tab {
    justify-content: start !important;
    flex-wrap: wrap;
  }
  
  .top_offer_main_wrapper_container .top_offer_content_wrapper .top_offer_menu_tab .sub_menu {
    width: 20%;
    padding-bottom: 15px;
  }
  .more, .less {
    padding-left: 15px;
  }

  .mobile_heading {
    display: flex;
    justify-content: space-between;
  }

  .hide_desktop {
    display: block !important;
  }

  .top_offer_card_container {
    padding-top: 55px;
    grid-template-columns: none !important;
    gap: 60px 12px;
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
    justify-content: space-between;
  }

  .offer_card {
    width: 45% !important;
  }
}

@media (min-width: 768px) {
  .filter_box_wrapper {
    display: block !important;
  }
  .buttons_none{
    display: none !important;
  }
}

@media (max-width: 420px) {
  .sub_menu span{
    width: 45px !important;
    height: 45px !important;
  }
  .sub_menu p{
    font-size: 10px !important;
  }
  button.btn.cancel_btn {
    font-size: 12px !important;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px 50px;
  }
  
  button.btn.apply_btn {
      font-size: 12px !important;
      border-radius: 50px;
      border: 1px solid black;
      padding: 8px 50px;
      background: black;
      color: grey;
  }
}

@media (max-width: 768px) {
  .filter_box_wrapper {
    display: none;
  }
}
// for reset and apply button 
button.btn.cancel_btn {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 8px 50px;
}

button.btn.apply_btn {
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 8px 50px;
    background: black;
    color: grey;
}

.filter_actions.buttons_none {
    display: flex;
    justify-content: space-around;
}

.toggle-button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

