.smart_reward_wrapper{
    color: #2F2F2F;
    h3{
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        letter-spacing: -0.02em;
        margin-bottom: 16px;
    
        
    }
    span{
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.36px;
        letter-spacing: -0.04em;
        
    }
}