.d_none_lg{
  display: none;
}
.bonus_banner_wrapper_container {
  padding-top: 39px;
  .banner_title {
    margin-bottom: 15px;
    h3 {
      font-family: Inter;
      font-size: 17.65px;
      font-weight: 500;
      line-height: 21.36px;
      color: var(--bs-pure-purple);
    }
  }
  .banner_grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;

  }
  .bottom_banner_grid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 47px;
}
}
.desktopImg{
  max-width: 650px !important;
  height: 250px;
}