.gift_card_wrapper_container {
  .gift_card_header {
    h3 {
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 27px;
      color: var(bs-light-black);
    }
  }
  .gift_card_grid {
    padding-top: 28px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    width: 98%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: pointer;


    .gift_card {
      padding: 27px 18.98px 21.15px 17px;
      border-radius: 8.11px 0px 0px 0px;
      border: 0.83px;
      border: 0.83px solid var(--bs-light-white);
      box-shadow: 0px 1.16px 7.41px 0px var(--bs-light-grey);

      h3 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        letter-spacing: 0.001em;
        text-align: center;
        color: var(  --bs-light-1-black);
        padding: 18px 0px 18px 0px;
      }
      .price_lable {
        border-radius: 17.99px;
        box-shadow: 0px 0px 4.63px 0px var(--bs-very-dark-blue);
        padding: 10px 20px;
        h4 {
          font-family: Inter;
          font-size: 12px;
          font-weight: 700;
          line-height: 14.52px;
          letter-spacing: 0.001em;
          text-align: center;
          color: var(--bs-red-3);
        }
      }
      .point_label {
        padding-top: 19px;
        text-align: center;

        span {
          font-family: Inter;
          font-size: 12px;
          font-weight: 700;
          line-height: 14.52px;
          letter-spacing: 0.001em;
          color: var(--bs-grey);

          img{
            margin: 0px 3px;
          }
        }
      }
    }
  }
}
