.best_seller_wrapper {
  padding-bottom: 40px;
  h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    color: var(--bs-hex-color);
    margin-bottom: 16px !important;
  }
  .best_seller_card_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    width: 98%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    cursor: pointer;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .best_seller_card {
      padding: 16px;
    //   width: 220px;
      //   height: 296px;
      border-radius: 9px;
      border: 1px solid var( --bs-light-red);
      box-shadow: 0px 1.16px 7.41px 0px #b4b4b41f;
      background: var(--bs-white-1);
      .card_batch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 25px;
        width: 86px;
        margin: 0 auto;
        padding: 5px 9px 5px 9px;
        border-radius: 15.29px;
        background-color: var(--bs-red-1);
      }
      .card_img {
        text-align: center;
        padding: 20px 0px 22px 0px;
      }
      .card_body_content {
        h4 {
          font-family: Inter;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color:var(--bs-ggs);
          white-space: nowrap;
          width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .price_tag {
          padding: 12px 0px 5px 0px;
          h3 {
            font-family: Inter;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.78px;
            color: var(--bs-blue-1);
            margin: 0 !important;
          }
        }
        .discount_bar {
          display: flex;
          align-items: center;
          p {
            font-family: Inter;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.52px;
            color: var(--bs-gainsboro);
            .price_off {
              text-decoration: line-through;
            }
          }
          .off_price {
            margin-left: 20px;
            font-size: 12px;
            font-weight: 600;
            line-height: 14.52px;
            color: var(--bs-yellow-1);
          }
        }
        .card_footer {
          display: flex;
          align-items: center;
          padding: 10px 0px 13px 0px;

          span {
            img {
              margin: 0px 10px;
            }
            &:nth-child(3) {
              color: var(--bs-red-1);
              font-family: Inter;
              font-size: 11px;
              font-weight: 700;
              line-height: 13.31px;
            }
          }
        }
      }
    }
  }
}
