.summer_special_container {
  .special_card_title {
    h3 {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      color: #821921;
    }
  }
  .summer_card_grid {
    padding: 25px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: pointer;
  }
}
